@import "tailwindcss";

@theme {
  --color-primary-indigo: #4f46e5;
  --color-warm-gray: #faf9f6;
  --shadow-soft: 0 10px 30px -10px rgba(0, 0, 0, 0.05);

  --font-header: var(--font-inter), ui-sans-serif, system-ui;
  --font-body: var(--font-open-sans), ui-sans-serif, system-ui;
}

@layer base {
  body {
    @apply bg-warm-gray text-slate-900 antialiased font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header;
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}